/** Styles specific to barChart, which overrides common classes */

/** Axes */
.x-axis-barchart line {
    visibility: hidden;
}

.y-axis-barchart line {
    stroke: grey;
    opacity: 0.7;
}

#barchart .axis-title {
    font-size: 1.3rem;
}

#barchart .axis text {
    font-size: 2em;
}

 /* -------------------  Bigger Screens -----------------------*/
 @media only screen and (min-width: 1300px){
    #barchart .axis-title {
        font-size: 1.7em;
    }
  
  }