/** Styles specific to barChart, which overrides common classes */

#barchart {
    border: 2px #ddd solid;
    /* position: absolute;
    left: 900px;
    top: 100px; */
}
/** Axes */
.x-axis-barchart line {
    visibility: hidden;
}

.y-axis-barchart line {
    stroke: grey;
    opacity: 0.7;
}