body {
  font: 10px sans-serif;
}

#linechart {
  overflow-y: visible;
}

#linechart .y-axis-title {
  font-size: 2.5rem;
}

#linechart .axis text {
  font-size: 4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

g.axis.x-axis.linechart g.tick > text {
  transform: rotate(-45deg);
  text-anchor: end;
  fill: black;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.mouse-text {
  font-size: 4em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  -webkit-font-smoothing: antialiased;
}

/* -------------------  Bigger Screens -----------------------*/
@media only screen and (min-width: 1300px) and (max-width: 1749px) {
  #linechart .y-axis-title {
    font-size: 2.2rem;
  }

  #linechart .axis text {
    font-size: 3em;
  }

  .mouse-text {
    font-size: 3em;
  }
}

@media only screen and (min-width: 1750px) {
  #linechart .y-axis-title {
    font-size: 2rem;
  }

  #linechart .axis text {
    font-size: 2.7em;
  }

  .mouse-text {
    font-size: 2.5em;
  }
}
