  body {
    font: 10px sans-serif;
  }
  
  .axis path,
  .axis line {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
  }
  
  .x.axis path {
    display: none;
  }
  
  g.axis.x-axis.linechart g.tick > text {
    transform: rotate(-45deg);
    text-anchor: end;
    fill: black;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }
  
  .mouse-text {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;    
    -webkit-font-smoothing: antialiased;
  }
  