/** Chart Positioning */
#parent-container {
  margin: 15px;
  display: flex;
  flex-flow: column;
}

#chart-container {
  display: flex;
  flex-flow: row wrap;
}

#left-col {
  width: 50%;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

/** Axes */
.axis-title {
    font-weight: bold;
}

/** Tooltip */
#tooltip { 
  position: absolute;
}
