@import './barChart.css';

/** Chart Positioning */
#parent-container {
  margin: 15px;
  margin-top: 25px;
}

#chart-container {
  display: flex;
}

/** Axes */
.axis-title {
    font-weight: bold;
}

/** Map */
#map { 
    width: 800px;
    height: 500px; 
}

#slider {
  display: block;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#value-range {
  margin-left: 20px;
}

.axis text,
.slider text {
  font-size: 16px;
}

.slider text {
  transform: translate(10px, -65px);
}
